@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #161616;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.back{
  background-image:url('/images/bg222.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
    height: 90vh;
 

}
.back2{
  background-image:url('/images/cover.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    height: 10vh;

}

.btn {
  @apply
  p-2
}
/* .image{
  
    position: absolute;
    bottom: -40px;
    right: -40px;
    height: 50%;
    opacity: 0.7;
    transition: all 0.4s;
    z-index: -1;

} */

ul.nav-menu {}
ul.nav-menu li {
  @apply
  relative
}
ul.nav-menu li {}
ul.nav-menu li:hover > ul {
  @apply
  block
}
ul.nav-menu li span {}
ul.nav-menu li ul {
  @apply
  overflow-hidden
  border border-[#262626]
  rounded-lg
  absolute
  top-[20px]
  left-0
  hidden
}
ul.nav-menu li ul li {
  @apply
  hover:text-gray-400
  px-3
  py-2
  flex items-center gap-3
  ml-[-30px]
  hover:ml-0
  transition-all
  duration-800
}